<!doctype html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<html lang="en-US">

<head>
 
 <style>
 
 
 
  		.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
    position: absolute;
    top: 0px;
    left: 68px;
	
}

 
 
        .img-section {
            /* background-image: url("../content/images/Icon-bg.svg");
            background-repeat: no-repeat, repeat; */
            /* width: 250px;
            height: 250px; */
            position: relative;
            padding: 0 2rem !important;
            /* margin-right: 2rem !important; */
        }

        .img-section img {
            width: 100% !important;
            height: 100% !important;
        }

        .img-section svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #6c6c6c;
            width: 5rem;
        }
		
		
    </style>
</head>

<body>

<section class="banner inner-banner career-banner" style="background-image: linear-gradient(135deg, #d7f0ff 10%, #ffffff 100%);">
        <div class="container h-100">
            <div class="row no-gutters align-items-center h-100">
                <div class="banner-text">
                    <div class="banner-title" data-aos="fade-up" data-aos-duration="1000">
                        <h1 class="title underline relative d-inline" style="color:var(--color-blue);">Carrers</h1>

                    </div>
                    <div class="action d-flex flex-wrap" data-aos="fade-up" data-aos-delay="350" data-aos-duration="1300">
                        <a href="javascript:;" class="cta-btn cta-btn-orange d-inline-flex align-items-center justify-content-center banner-down" data-target="#current-opening">Current Openings</a>
                    </div>
                </div>
                <div class="banner-img">
                    <div class="thumb">
                        <img width="520" height="414" src="/static/static_images/careers.svg" class="delay-animated" alt="" loading="lazy" /> </div>
                </div>
            </div>
        </div>
    </section>
    <section class="the-origin-story">
        <div class="container">
            <div class="row no-gutters">
                <div class="block-title aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                    <h2 class="" style="font-size:3rem;">Our History</h2>
                </div>
                <p data-aos="fade-up" data-aos-delay="150" data-aos-duration="1100" class="aos-init aos-animate">We are an Automation, Data Analytics, Cloud enterprise, we pass on liveliness and a connecting way of managing the key digitalization factors. We convey what we endorse and your
                    prosperity is our most elevated inclination.
                </p>

            </div>
            <div class="client-size-sprint-center">
                <div class="row">
                    <div class="col-lg-3 col-md-6 items" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                        <div class="box d-flex align-items-center clients">
                            <div class="thumb d-flex align-items-center justify-content-center">
                                <i class="fa fa-briefcase" aria-hidden="true" style="font-size: 42px;"></i>
                                <!-- <i class="fa fa-users" aria-hidden="true" style="font-size: 42px;"></i> -->
                            </div>
                            <div class="description">
                                <div class="numbers">150+</div>
                                <div class="text">Clients</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 items" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1200">
                        <div class="box d-flex align-items-center team-size">
                            <div class="thumb d-flex align-items-center justify-content-center">
                                <i class="fa fa-users" aria-hidden="true" style="font-size: 42px;"></i>
                                
                            </div>
                            <div class="description">
                                <div class="numbers">300+</div>
                                <div class="text">Team Size</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 items" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1400">
                        <div class="box d-flex align-items-center agile-sprint">
                            <div class="thumb d-flex align-items-center justify-content-center">
                               <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" style="    width: 42%;"><!-- Font Awesome Pro 5.15.4 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) --><path d="M139.61 35.5a12 12 0 0 0-17 0L58.93 98.81l-22.7-22.12a12 12 0 0 0-17 0L3.53 92.41a12 12 0 0 0 0 17l47.59 47.4a12.78 12.78 0 0 0 17.61 0l15.59-15.62L156.52 69a12.09 12.09 0 0 0 .09-17zm0 159.19a12 12 0 0 0-17 0l-63.68 63.72-22.7-22.1a12 12 0 0 0-17 0L3.53 252a12 12 0 0 0 0 17L51 316.5a12.77 12.77 0 0 0 17.6 0l15.7-15.69 72.2-72.22a12 12 0 0 0 .09-16.9zM64 368c-26.49 0-48.59 21.5-48.59 48S37.53 464 64 464a48 48 0 0 0 0-96zm432 16H208a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h288a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16zm0-320H208a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h288a16 16 0 0 0 16-16V80a16 16 0 0 0-16-16zm0 160H208a16 16 0 0 0-16 16v32a16 16 0 0 0 16 16h288a16 16 0 0 0 16-16v-32a16 16 0 0 0-16-16z"/></svg>
                            </div>
                            <div class="description">
                                <div class="numbers">700+</div>
                                <div class="text">Projects</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 items" data-aos="fade-up" data-aos-delay="250" data-aos-duration="1600">
                        <div class="box d-flex align-items-center dev-center">
                            <div class="thumb d-flex align-items-center justify-content-center">
                                <i class="fa fa-building" aria-hidden="true" style="font-size: 42px;"></i> 
								
								
                            </div>
                            <div class="description">
                                <div class="numbers">5</div>
                                <div class="text">Dev Centers</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
      <section class="current-opening" id="current-opening">
        <div class="container">
            <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
                <div class="sub-title underline relative d-inline">Current <span>Opening</span></div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-12" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                        <div class="card">
                            <div class="card-body" style="background-color: #F8F8F8	!important;">
                                <div class="card-title title-pattern color-accent">
                                    Senior Java Software Developer
                                </div>
                                <div class="card-description">
                                    <div class="location">Location - Morrisville, NC and unanticipated worksites throughout the U.S.</div>
                                    <div class="experience">Experience - 6+ Years</div>
                                </div>
                                <div>
                                    <p>
                                        Responsible for entire SDLC activities including requirement gathering, performing requirement analysis, developing design solutions and end-to-end testing. Create dynamic software systems, applications and user interfaces with clear and attractive designs
                                        with intuitive navigations using Core JAVA, Jenkins, HTML, CSS and front-end framework using Angular. Use JavaScript for validations and dynamic and jQuery for implementing animations. Analyze user needs and software requirements to determine feasibility of
                                        design within time and cost constraints. Develop technical stack architecture and code using Core Java concepts and features. Use SQL concepts to Insert, Retrieve and Update the database information and develop stored procedures and triggers. Implement
                                        configurations in for auto generating files. Write test scripts/cases and perform validations for frameworks and client-side apps. Analyze and troubleshoot issues and fixing the defects.
                                    </p>
                                    <p class="mt-4">Master’s degree (or foreign equivalent) in Computer Science, Computer Engineering or closely related field, plus four (4) years of experience in the job offered or similar software engineering positions. Must have four (4) years of experience in
                                        the following
                                        skills: Core JAVA, Jenkins, HTML, CSS, JavaScript, jQuery, SQL and Angular In the alternate, will accept a Bachelors or foreign degree equivalent in Computer Science, Computer Engineering or closely related field, plus six (6) years of experience in the job
                                        offered or similar software engineering positions. Must have four (4) years of experience in the following skills: Core JAVA, Jenkins, HTML, CSS, JavaScript, jQuery, SQL and Angular.
                                    </p>
                                    <p class="mt-4">Travel required to various unanticipated worksites throughout the U.S. Email resumes to: hr@originhubs.com. Must reference “Senior Java Software Developer” in subject line to be considered.</p>
                                </div>
                                <div class="card-tag mt-4">
                                    <div class="d-flex flex-wrap align-items-center">
                                        <div class="tag-items">Core JAVA</div>
                                        <div class="tag-items">Jenkins</div>
                                        <div class="tag-items">HTML</div>
                                        <div class="tag-items">CSS</div>
                                        <div class="tag-items">JavaScript</div>
                                        <div class="tag-items">jQuery</div>
                                        <div class="tag-items">SQL</div>
                                        <div class="tag-items">CSS</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                        <div class="card" style="background-color: #F8F8F8;">
                            <div class="card-body" style="background-color: #F8F8F8	!important;">
                                <div class="card-title title-pattern color-accent">
                                    Java Developer
                                </div>
                                <div class="card-description">
                                    <div class="location">Location - Raleigh, NC</div>
                                    <div class="experience">Intern</div>
                                </div>
                                <!-- <div class="card-tag">
                                    <div class="d-flex flex-wrap align-items-center">
                                        <div class="tag-items">REST APIs</div>
                                        <div class="tag-items">SQL</div>
                                        <div class="tag-items">Unit Testing</div>
                                        <div class="tag-items">App Security</div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                        <div class="card" style="background-color: #F8F8F8;">
                            <div class="card-body" style="background-color: #F8F8F8	!important;">
                                <div class="card-title title-pattern color-accent">
                                    Java Developer
                                </div>
                                <div class="card-description">
                                    <div class="location">Location - Raleigh, NC</div>
                                    <div class="experience">Intern</div>
                                </div>
                                <!-- <div class="card-tag">
                                    <div class="d-flex flex-wrap align-items-center">
                                        <div class="tag-items">REST APIs</div>
                                        <div class="tag-items">SQL</div>
                                        <div class="tag-items">Unit Testing</div>
                                        <div class="tag-items">App Security</div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                        <div class="card" style="background-color: #F8F8F8;">
                            <div class="card-body" style="background-color: #F8F8F8 !important;">
                                <div class="card-title title-pattern">
                                    Full stack developer
                                </div>
                                <div class="card-description">
                                    <div class="location">Location - Raleigh, NC</div>
                                    <div class="experience">Intern</div>
                                </div>
                                <!-- <div class="card-tag">
                                    <div class="d-flex flex-wrap align-items-center">
                                        <div class="tag-items">Spring Boot</div>
                                        <div class="tag-items">REST APIs</div>
                                        <div class="tag-items">ORM Framework</div>
                                        <div class="tag-items">Microservices</div>
                                    </div>
                                </div> -->

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                        <div class="card">
                            <div class="card-body" style="background-color: #F8F8F8	!important;">
                                <div class="card-title title-pattern">
                                    Senior Cloud Developer (Golang)
                                </div>
                                <div class="card-description">
                                    <div class="location">Location - Raleigh, NC</div>
                                </div>
                                <!-- <div class="card-tag">
                                    <div class="d-flex flex-wrap align-items-center">
                                        <div class="tag-items">Docker</div>
                                        <div class="tag-items">Kubernetes</div>
                                        <div class="tag-items">Python</div>
                                        <div class="tag-items">CI/CD Tools</div>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section>
	
	
	
	
	    <section class="why-work-us">
        <div class="container">
            <div class="section-title aos-init aos-animate" data-aos="fade-up" data-aos-duration="1000">
                <!-- <h2 class="title">CHALLENGE</h2> -->
                <div class="sub-title underline relative d-inline">GMB Program <span>(Giving Masters Best)</span></div>
            </div>
            <div class="row">
                <div class="col-md-4 items aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1100">
                    <div class="box">
                        <div class="" style="font-size:24px; font-weight:bold; margin-bottom:1rem; color: var(--color-blue);">Giveaways</div>
                        <div class="list-item title-pattern">Best Training Classroom Training</div>
                        <div class="list-item title-pattern">Get trained by subject matter experts</div>
                        <div class="list-item title-pattern">Making everything job ready</div>
                        <div class="list-item title-pattern">Easy interview handling</div>
                        <div class="list-item title-pattern">Best Pay rates, average pay rate – 80$/hr.</div>
                        <div class="list-item title-pattern">100% Transparency Pay</div>
                        <div class="list-item title-pattern">No pain immigration process</div>
                    </div>
                </div>
                <div class="col-md-4 items aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1100">
                    <div class="box">
                        <div style="font-size:24px; font-weight:bold; margin-bottom:1rem; color: var(--color-blue);">Lifestyle Advantages</div>
                        <div class="list-item title-pattern">Best Accommodation in the locality </div>
                        <div class="list-item title-pattern">Best food directly from star hotels</div>
                        <div class="list-item title-pattern">Office leisure fun</div>
                        <div class="list-item title-pattern">Office Indore game space.</div>
                        <div class="list-item title-pattern">Weekend Masti – Cricket, potluck, Trips and Parties</div>
                        <div class="list-item title-pattern">Iconic hangouts near by</div>
                        <div class="list-item title-pattern">Most friendly ambiance</div>
                    </div>
                </div>
                <div class="col-md-4 items aos-init aos-animate" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1100">
                    <div class="box">
                        <div style="font-size:24px; font-weight:bold; margin-bottom:1rem; color: var(--color-blue);">Perks</div>
                        <div class="list-item title-pattern">Lifetime job support</div>
                        <div class="list-item title-pattern">Will be part of alumni group (Priceless)</div>
                        <div class="list-item title-pattern">We don’t hold any documents – Risk-free</div>
                        <div class="list-item title-pattern">Chance to win mac book pro</div>
                        <div class="list-item title-pattern">Chance to win tickets for world tour</div>
                        <div class="list-item title-pattern">Chance to get 110$/hr pay rate</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}	
</body>

</html>