<!doctype html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<html lang="en-US">

<head>
 
 <style>
 
 
 
  		.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
    position: absolute;
    top: 0px;
    left: 68px;
	
}

 
 
        .img-section {
            /* background-image: url("../content/images/Icon-bg.svg");
            background-repeat: no-repeat, repeat; */
            /* width: 250px;
            height: 250px; */
            position: relative;
            padding: 0 2rem !important;
            /* margin-right: 2rem !important; */
        }

        .img-section img {
            width: 100% !important;
            height: 100% !important;
        }

        .img-section svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #6c6c6c;
            width: 5rem;
        }
		
		
    </style>
	
	

	
</head>

<body>

<section class="banner inner-banner career-banner" style="background-image: linear-gradient(135deg, #d7f0ff 10%, #ffffff 100%);">
        <div class="container h-100">
            <div class="row no-gutters align-items-center h-100">
                <div class="banner-text">
                    <div class="banner-title">
                        <h1 class="title underline d-inline relative" data-aos="fade-up" data-aos-duration="1000" style="color:var(--color-blue);">Contact Us</h1>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="1000">
                        <p>We would love to hear from you! We are always open to drive new values for your business</p>
                    </div>
                </div>
                <div class="banner-img">
                    <div class="thumb">
                        <img width="520" height="414" src="/static/static_images/contact.svg" class="delay-animated" alt="" loading="lazy" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="connect-with-us">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mb-5 mb-lg-0" data-aos="fade-up" data-aos-delay="250" data-aos-duration="1400">
                    <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
                        <div class="sub-title underline reltive d-inline">Origin <span>Hubs</span></div>
                    </div>
                    <p class="mt-4">10315 Chapel Hill Road, 1st floor, Morrisville, NC 27560</p>
                    <p>(919)-336-3016</p>
                    <div class="description mt-4">
                        <div style="font-weight:bold; font-size:20px; color: var(--color-accent);">Explore a career at Origin Hubs:</div>
                        <p>We are looking for intellectual genius to work with Origin Hubs, please visit our careers page and explore opportunities and browse current openings. Sounds appealing? Come join us: feel free to drop your mail at hr@originhubs.com </p>
                    </div>
                </div>
                <div class="col-lg-6" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1600">
                    <div class="form-module bg-paris">
                        <div class="form-title title-pattern">Share your excitement with us</div>
                        <div role="form" class="wpcf7" id="wpcf7-f981-o1" lang="en-US" dir="ltr">
                            <div class="screen-reader-response">
                                <p role="status" aria-live="polite" aria-atomic="true"></p>
                                <ul></ul>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <div class="wpcf7-form-control-wrap">
                                                <span class="wpcf7-form-control-wrap fname"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-validates-as-required form-control" data-val="true" data-val-length="Name must be between 4 and 100 characters." data-val-length-max="100"
                                                        data-val-length-min="4" data-val-regex="Name must contain at least one alphabet.Space not allowed at beginning." data-val-regex-pattern="^[a-zA-Z1-2]+(?=.*[a-zA-Z]).+$" data-val-required="This field is Required." id="Name" name="Name"
                                                        type="text" /></span>
                                            </div>
                                            <label class="label" for="Name">Name<em>*</em></label>
                                            <i class="bar"></i>
                                            <span class="color-red" data-valmsg-for="Name" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="wpcf7-form-control-wrap email"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-email wpcf7-validates-as-required wpcf7-validates-as-email form-control" data-val="true" data-val-email="The Email field is not a valid e-mail address."
                                                    data-val-required="This field is Required." id="Email" name="Email" type="email" /></span>
                                            <label class="label" for="Email">Email<em>*</em></label>
                                            <i class="bar"></i>
                                            <span class="color-red" data-valmsg-for="Email" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <span class="wpcf7-form-control-wrap phone"><input size="40" class="wpcf7-form-control wpcf7-text wpcf7-tel wpcf7-validates-as-tel form-control" data-val="true" data-val-regex="Invalid Phone Number." data-val-regex-pattern="^[0-9]*$" id="PhoneNumber"
                                                    data-val-required="This field is Required." name="PhoneNumber" type="tel" /></span>
                                            <label class="label" for="PhoneNumber">Phone Number</label>
                                            <i class="bar"></i>
                                            <span class="color-red" data-valmsg-for="PhoneNumber" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <div class="form-group">
                                            <span class="wpcf7-form-control-wrap message"><textarea cols="40" rows="10" class="wpcf7-form-control wpcf7-textarea form-control" data-val="true" data-val-length="Message must be between 5 and 500 characters." data-val-required="This field is Required."
                                                    data-val-length-max="500" data-val-length-min="5" id="Message" name="Message"></textarea></span>
                                            <label class="label" for="Message">Message</label>
                                            <i class="bar"></i>
                                            <span class="color-red" data-valmsg-for="Message" data-valmsg-replace="true"></span>
                                        </div>
                                    </div>
                                    <div class="col-12">
                                        <button type="submit" value="Submit" id="contact_sub" class="" >Submit</button>
                                    </div>
                                </div>
                                <div class="wpcf7-response-output" aria-hidden="true"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="bg-oh-blue" style="padding-top:6rem; padding-bottom:6rem;">
        <div class="container">
            <div class="">
                <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
                    <div class="sub-title underline underline-center relative d-inline text-white">Our Vision & Mission</div>
                </div>
                <p class="mx-auto text-center text-white" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1100" style="font-size:18px; max-width:1000px; opacity:0.9;">Our goal is to assist businesses with speeding up the reception of new advancements, organize continuous development and
                    unravel
                    complex issues that consistently arise during digital development. Decisions we make
                    align to our vision, to turn into the pre-famous innovation administrations accomplice to the world's top organizations.
                </p>
            </div>
        </div>
    </section>
	
	
    <section class="our-presense">
        <div class="container">
            <div class="section-title aos-init aos-animate text-center" data-aos="fade-up" data-aos-duration="1000">
                <div class="sub-title underline relative d-inline underline-center">Our <span>Presence</span></div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10 mb-5 mb-lg-0 aos-init aos-animate" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1000">
                    <img src="/static/static_images/presense.png" alt="" />
                </div>
            </div>
            <div class="row mt-5  justify-content-center">
                <div class="col-md-4 items">
                    <div class="d-flex flex-wrap align-items-start silicon">
                        <div class="icon">
                            <img src="https://img.icons8.com/color/48/000000/marker--v2.png" />
                        </div>
                        <div class="description">
                            <h3>NC | Texas | Ohio | Canada</h3>
                            <p>
                                <a href="(919)-336-3016">(919)-336-3016</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 items">
                    <div class="d-flex flex-wrap align-items-start  ahmedabad">
                        <div class="icon">
                            <img width="93" height="112" src="../content/images/m-blue.png" class="attachment-full size-full" alt="" loading="lazy">
                        </div>
                        <div class="description">
                            <h3>Hyderabad, India</h3>
                            <p>hr@originhubs.com</p>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4 items">
                    <div class="d-flex flex-wrap align-items-start  ahmedabad">
                        <div class="icon">
                            <img width="93" height="112" src="../content/images/m-yellow.png" class="attachment-full size-full" alt="" loading="lazy">
                        </div>
                        <div class="description">
                            <h3>Lorem, ipsum.</h3>
                            <p>
                                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odit, quos.
                            </p>
                            <p>
                                <a href="tel:+917949000500">+91-23233232232</a>
                            </p>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </section>

	
	    <section>
        <div class="mapouter">
            <div class="gmap_canvas"><iframe width="600" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=Origin%20Hubs&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://123movies-org.net">123movies</a><br>
                <style>
                    iframe {
                        width: 100% !important;
                        height: 100%;
                    }

                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 500px;
                        width: 100%;
                    }

                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 500px;
                        width: 100%;
                    }
                </style>
            </div>
        </div>
    </section>
{% endblock %}	
</body>

</html>