<!doctype html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<html lang="en-US">

<head>
 
 <style>
 
 
 
  		.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
    position: absolute;
    top: 0px;
    left: 68px;
	
}

 
 
        .img-section {
            /* background-image: url("../content/images/Icon-bg.svg");
            background-repeat: no-repeat, repeat; */
            /* width: 250px;
            height: 250px; */
            position: relative;
            padding: 0 2rem !important;
            /* margin-right: 2rem !important; */
        }

        .img-section img {
            width: 100% !important;
            height: 100% !important;
        }

        .img-section svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #6c6c6c;
            width: 5rem;
        }
		
		
    </style>
</head>

<body>

    <section class="banner inner-banner" style="background-image: linear-gradient(135deg, #dfe9f3 10%, #ffffff 100%); padding:4rem 0;">
        <div class="container h-100">
            <div class="row no-gutters align-items-center h-100">
                <div class="banner-text">
                    <div class="banner-title" data-aos="fade-up" data-aos-duration="1000">
                        <h1 class="title underline relative d-inline">CRM - Customer Relationship Management</h1>
                    </div>

                    <p data-aos="fade-up" data-aos-delay="250" data-aos-duration="1200">Agile and financially savvy conveyance of CRM frameworks aimed to automate retailing, businesses and customer service.</p>
                    <div class="action d-flex flex-wrap" data-aos="fade-up" data-aos-delay="350" data-aos-duration="1300">
                        <a href="/contact/" class="cta-btn cta-btn-blue d-inline-flex align-items-center justify-content-center">Quick Inquiry</a>
                    </div>
                </div>
                <div class="banner-img">
                    <div class="thumb">
                        <img width="960" height="894" src="/static/static_images/business.svg" /> </div>
                </div>
            </div>
        </div>
    </section>


    <section class="two-column-with-tag-module right">
        <div class="container">
            <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="title">Elegantly Naive with High-level Innovations</h2>
                <div class="sub-title underline relative d-inline">Raise the yield of your business and client support teams.</div>
            </div>
            <div class="row no-gutters row-reverse">
                <!-- <div class="col-lg-6 right d-flex align-items-end justify-content-center" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1200">
                    <div class="thumb">
                        <img width="638" height="298" src="../../cdn.zymr.com/zymr-w8x/staging/wp-content/uploads/2021/04/23082256/Div-2-6-1.jpg" class="attachment-full size-full" alt="" loading="lazy"
                            srcset="https://cdn.zymr.com/zymr-w8x/staging/wp-content/uploads/2021/04/23082256/Div-2-6-1.jpg 638w, https://cdn.zymr.com/zymr-w8x/staging/wp-content/uploads/2021/04/23082256/Div-2-6-1-300x140.jpg 300w" sizes="(max-width: 638px) 100vw, 638px" /> </div>
                </div> -->
                <div class="col-lg-12 left module-cms" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                    <!-- <h3>With our full-stack designing strategies heighten the elements and functionalities of your site.</h3> -->
                    <p>To make it fit the necessities of every customer, we apprehend to foster a CRM application and reinforce income, increment work productivity with cutting edge CRM frameworks.
                    </p>
                    <div class="tag-list d-flex flex-wrap">
                        <div class="item">Consultancy</div>
                        <div class="item">Application Development and Maintenance</div>
                        <div class="item">Integration and Implementation</div>
                        <div class="item">Data migration</div>
                        <div class="item">Support and progression</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="horizontal-tab-module">
        <div class="container">
            <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
                <div class="sub-title underline relative d-inline">Our Services</div>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#htab_1">Consultancy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#htab_2">Application Development and Maintenance</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#htab_3">Integration and Implementation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#htab_4">Data migration</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#htab_5">Support and progression</a>
                </li>
            </ul>
            <div class="tab-content" id="hpanecontent">
                <div class="tab-pane active" id="htab_1">
                    <a class="pane-header collapsed" data-target="#hpane_1" data-toggle="collapse" href="#hpane_1">Consultancy</a>
                    <div class="collapse" id="hpane_1" data-parent="#hpanecontent">
                        <div class="pane-body row align-items-center">
                            <div class="col-2 img-section" style="">
                                <img class="image1" src="/static/static_images/Icon-bg.svg" alt="">
                                <img class="image2" style="width: 35% !important;" src="/static/static_images/cloud-connection-svgrepo-com.svg" alt="">
                               
                            </div>
                            <div class="col-10">
                                <p>We assist you to develop a powerful CRM insight and plan a productive and compelling customer relationship management strategy that sets impeccable with your business objectives and expands your profit from speculation. With us, you get reliable, secure,
                                    synchronous CRM development.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="htab_2">
                    <a class="pane-header collapsed" data-target="#hpane_2" data-toggle="collapse" href="#hpane_2">Application Development and Maintenance</a>
                    <div class="collapse" id="hpane_2" data-parent="#hpanecontent">
                        <div class="pane-body row align-items-center">
                            <div class="col-2 img-section" style="">
                                <img class="image1" src="/static/static_images/Icon-bg.svg" alt="">
                                <img class="image2" style="width: 35% !important;" src="/static/static_images/cloud-connection-svgrepo-com.svg" alt="">
                               
                            </div>
                            <div class="col-10">
                                <p>We can make a smart CRM application that gives direct admittance to client data, which is fundamental for assessing advertising techniques and client assistance processes for your association, and also fabricate the overhaul and test it prior to executing it on
                                    your framework to limit downtime. We offer custom crm development assistance that firms your clients devotion to your organization.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="htab_3">
                    <a class="pane-header collapsed" data-target="#hpane_3" data-toggle="collapse" href="#hpane_3">Integration and Implementation</a>
                    <div class="collapse" id="hpane_3" data-parent="#hpanecontent">
                        <div class="pane-body row align-items-center">
                            <div class="col-2 img-section" style="">
                                <img class="image1" src="/static/static_images/Icon-bg.svg" alt="">
                                <img class="image2" style="width: 35% !important;" src="/static/static_images/cloud-connection-svgrepo-com.svg" alt="">
                               
                            </div>
                            <div class="col-10">
                                <p>Our CRM programming designers have the ability to render swank quality, accurate CRM implementation. We assist you with picking the CRM arrangement that best accommodates your associations' prerequisites and flawlessly integrates it with your current undertaking
                                    design to improve your business cycle effectiveness. Address your business goals, develop execution, and improve client commitment with our custom Integration and Implementation</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="htab_4">
                    <a class="pane-header collapsed" data-target="#hpane_4" data-toggle="collapse" href="#hpane_3">Data migration</a>
                    <div class="collapse" id="hpane_4" data-parent="#hpanecontent">
                        <div class="pane-body row align-items-center">
                            <div class="col-2 img-section" style="">
                                <img class="image1" src="/static/static_images/Icon-bg.svg" alt="">
                                <img class="image2" style="width: 35% !important;" src="/static/static_images/cloud-connection-svgrepo-com.svg" alt="">
                               
                            </div>
                            <div class="col-10">
                                <p>We can assist with dealing with your heritage CRM applications, moving your on-premise CRM framework to the cloud, and updating your contemporary CRM. Without information misfortune, debasement or effect on your live business processes transports your data into
                                    another CRM system.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="htab_5">
                    <a class="pane-header collapsed" data-target="#hpane_5" data-toggle="collapse" href="#hpane_5">Support and progression</a>
                    <div class="collapse" id="hpane_5" data-parent="#hpanecontent">
                        <div class="pane-body row align-items-center">
                            <div class="col-2 img-section" style="">
                                <img class="image1" src="/static/static_images/Icon-bg.svg" alt="">
                                <img class="image2" style="width: 35% !important;" src="/static/static_images/cloud-connection-svgrepo-com.svg" alt="">
                               
                            </div>
                            <div class="col-10">
                                <p>We offer Support and progression administrations to both newly created and moderately obsolete arrangements, To make your framework go in the line with the modern necessities of the business you run and to assist you with its upgrade. As we apprehend how
                                    significant it is for our customers to relate to the developing necessities of the cutthroat market.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}	
</body>

</html>