<!doctype html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<html lang="en-US">

<head>
 
 <style>
 
 
 
  		.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
    position: absolute;
    top: 0px;
    left: 68px;
	
}

 
 
        .img-section {
            /* background-image: url("../content/images/Icon-bg.svg");
            background-repeat: no-repeat, repeat; */
            /* width: 250px;
            height: 250px; */
            position: relative;
            padding: 0 2rem !important;
            /* margin-right: 2rem !important; */
        }

        .img-section img {
            width: 100% !important;
            height: 100% !important;
        }

        .img-section svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #6c6c6c;
            width: 5rem;
        }
.values {
    color: #fff;
    padding: 3rem;
    margin-bottom: 3rem;
    font-size: 1.5rem;
    border-radius: 10px;
}
.box {
    box-shadow: 0 0 10px rgb(0 0 0 / 50%);
    padding: 1rem 2rem;
    height: 100%;
    margin-bottom: 2rem;
    border-radius: 10px;
}		
		
    </style>
</head>

<body>


<section class="banner inner-banner career-banner" style="background-image: linear-gradient(135deg, #d7f0ff 10%, #ffffff 100%);">
        <div class="container h-100">
            <div class="row no-gutters align-items-center h-100">
                <div class="banner-text">
                    <div class="banner-title" data-aos="fade-up" data-aos-duration="1000">
                        <h1 class="title underline d-inline relative">Our Culture</h1>
                    </div>
                    <p data-aos="fade-up" data-aos-delay="250" data-aos-duration="1200">We are your strategic partner in accelerating your digital technologies.
                    </p>
                    <!-- <div class="action d-flex flex-wrap" data-aos="fade-up" data-aos-delay="350" data-aos-duration="1300">
                        <a href="javascript:;" class="cta-btn cta-btn-orange d-inline-flex align-items-center justify-content-center banner-down" data-target="#current-opening">Current Openings</a>
                    </div> -->
                </div>
                <div class="banner-img">
                    <div class="thumb">
                        <img width="520" height="414" src="/static/static_images/culture.svg" class="delay-animated" alt="" loading="lazy" /> </div>
                </div>
            </div>
        </div>
    </section>
<section class="" style="padding-top:6rem; padding-bottom:6rem;">
        <div class="container">
            <div class="">
                <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
                    <div class="sub-title underline underline-center relative d-inline text-c">Our Purpose</div>
                </div>
                <p class="mx-auto text-center" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1100" style="font-size:18px; max-width:1000px;">We are a high-performing team with spirit. We measure our prosperity by client achievement and view it as an advantage to guarantee consumer
                    loyalty. Consistently, from one side of the world to the other, our kin engineers impact modern businesses to improve everyday life.
                </p>
            </div>
        </div>
    </section>
    <section class="bg-oh-blue" style="padding-top:6rem; padding-bottom:6rem;">
        <div class="container">
            <div class="">
                <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
                    <div class="sub-title underline underline-center relative d-inline text-white">Our Vision & Mission</div>
                </div>
                <p class="mx-auto text-center text-white" data-aos="fade-up" data-aos-delay="150" data-aos-duration="1100" style="font-size:18px; max-width:1000px; opacity:0.9;">Our goal is to assist businesses with speeding up the reception of new advancements, organize continuous development and
                    unravel
                    complex issues that consistently arise during digital development. Decisions we make
                    align to our vision, to turn into the pre-famous innovation administrations accomplice to the world's top organizations.
                </p>
            </div>
        </div>
    </section>
	
	
    <section style="padding-top:6rem; padding-bottom:6rem;">
        <div class="container">
            <div class="section-title text-center" data-aos="fade-up" data-aos-duration="1000">
                <div class="sub-title underline underline-center relative d-inline">Our Values</div>
            </div>
            <div style="margin-bottom:3rem;">
                <p class="text-center" style="font-size:18px;">Our qualities structure the foundation of our culture and characterize how we cooperate to serve our partners.</p>
            </div>
            <div class="row justify-content-center">
                <div class="col-12 col-sm-4 text-center">
                    <div class="values bg-oh-orange">Ingenuity</div>
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <div class="values bg-oh-yellow">Compassion</div>
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <div class="values bg-oh-green">Creativity</div>
                </div>
                <div class="col-12 col-sm-4 text-center">
                    <div class="values bg-oh-blue">Customer Satisfaction</div>
                </div>
            </div>
            <div style="background-color:#f5f5f5; padding: 3rem 0;">
                <p class="text-center mx-auto" style="font-size:18px; max-width:1000px;">We believe that persistent improvement is the impetus for development and advancement. We provide versatility, assistance and opportunities for all the associates who want to take their careers to distinct
                    places. Our client connections
                    are key and long
                    haul.</p>
            </div>
            <div class="row justify-content-center" style="margin-top:3rem;">
                <div class="col-md-4 items mb-3" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1100">
                    <div class="box">
                        <div class="" style="font-size:24px; font-weight:bold; margin-bottom:1rem; color: var(--color-blue);">Drive with a perspective</div>
                        <p>To acquire trust, and drive our customers forward, we employ our expertise.</p>
                    </div>
                </div>
                <div class="col-md-4 items mb-3" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1100">
                    <div class="box">
                        <div style="font-size:24px; font-weight:bold; margin-bottom:1rem; color: var(--color-blue);">Investigate data, assemble information</div>
                        <p>We apply actualities to direct activities and choices.</p>
                    </div>
                </div>
                <div class="col-md-4 items mb-3" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1100">
                    <div class="box">
                        <div style="font-size:24px; font-weight:bold; margin-bottom:1rem; color: var(--color-blue);">Continuously endeavor</div>
                        <p>To remain one stride ahead, we act with grace.</p>
                    </div>
                </div>
                <div class="col-md-4 items mb-3" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1100">
                    <div class="box">
                        <div style="font-size:24px; font-weight:bold; margin-bottom:1rem; color: var(--color-blue);">Work in tandem for everyone to thrive</div>
                        <p>We incorporate, empower and put resources into every one</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}	
</body>

</html>