<!doctype html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<html lang="en-US">

<head>
<title>OriginHubs: Digital Transformation</title>


   <style>



.image2 {
    position: absolute;
    top: 0px;
    left: 68px;
	
}
        .img-section {
            /* background-image: url("/static/static_images/Icon-bg.svg");
            background-repeat: no-repeat, repeat; */
            /* width: 250px;
            height: 250px; */
            position: relative;
            padding: 0 2rem !important;
            /* margin-right: 2rem !important; */
        }

        .img-section img {
            width: 100% !important;
            height: 100% !important;
        }

        .img-section svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #6c6c6c;
            width: 5rem;
        }
		
		.image1 {
  position: relative;
  top: 0;
  left: 0;
}

    </style>
</head>

<body>
<section class="banner inner-banner" style="background-image: linear-gradient(135deg, #dfe9f3 10%, #ffffff 100%); padding:4rem 0;">
        <div class="container h-100">
            <div class="row no-gutters align-items-center h-100">
                <div class="banner-text">
                    <div class="banner-title" data-aos="fade-up" data-aos-duration="1000">
                        <h1 class="title underline d-inline relative">Digital Transformation Services</h1>
                    </div>

                    <p data-aos="fade-up" data-aos-delay="250" data-aos-duration="1200">Science-driven versatile digital transformation services reinforce the business short-term performance and keep up with supportable long haul improvement, developing your unique, innovative digital way.</p>
                    <div class="action d-flex flex-wrap" data-aos="fade-up" data-aos-delay="350" data-aos-duration="1300">
                        <a href="/contact/" class="cta-btn cta-btn-blue d-inline-flex align-items-center justify-content-center">Quick Inquiry</a>
                    </div>
                </div>
                <div class="banner-img">
                    <div class="thumb">
                        <img width="960" height="894" src="/static/static_images/digital-transformation.svg" /> </div>
                </div>
            </div>
        </div>
    </section>
    <section class="two-column-with-tag-module right">
        <div class="container">
            <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="title">Evolution of Business</h2>
                <div class="sub-title underline d-inline relative ">Empower Enterprise with Digital Practice</div>
            </div>
            <div class="row no-gutters row-reverse">
                <div class="col-lg-12 left module-cms" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                    <h3>Experience human-centric, data-driven and incisive Digital transformation services and evolving end-client inclinations and developing interest</h3>
                    <p>Throughout our client's business functions we embed innovation cores and develop AI and analytics. We design robust data establishments for our customers, Amplify productivity, Reduce expenses and structure nearer associations with expanded cooperation.</p>
                    <div class="tag-list d-flex flex-wrap">
                        <div class="item">Augmented Intelligence</div>
                        <div class="item">Artificial Intelligence</div>
                        <div class="item">Cloud Solutions</div>
                        <div class="item">Intelligent Automation</div>
                        <div class="item">Internet of Things</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="horizontal-tab-module">
        <div class="container">
            <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
                <div class="sub-title underline relative d-inline">Our Digital Transformation Services</div>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#htab_1">Augmented Intelligence</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#htab_2">Intelligent Automation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#htab_3">Internet of Things</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#htab_4">Cloud Solutions</a>
                </li>
            </ul>
            <div class="tab-content" id="hpanecontent">
                <div class="tab-pane active" id="htab_1">
                    <a class="pane-header collapsed" data-target="#hpane_1" data-toggle="collapse" href="#hpane_1">Augmented Intelligence</a>
                    <div class="collapse" id="hpane_1" data-parent="#hpanecontent">
                        <div class="pane-body row align-items-center">
                            <div class="col-2 img-section" style="">
                                <img class="image1" src="/static/static_images/Icon-bg.svg" alt="">
                                <img class="image2" style="width: 35% !important;" src="/static/static_images/cloud-connection-svgrepo-com.svg" alt="">
                               
                            </div>
                            <div class="col-10">
                                <p>We work to comprehend your difficulties, characterize the issue, construct storyboards and perform tests likewise. To investigate the substantial advantages of these arising technologies we empower you, by working together with you, we can make an outwardly
                                    magnificent encounter with your clients. Our engineers are specialists in building AR and VR conditions and systems and leverage platforms to design through secure endorsement and dispatch a merest suitable item rapidly and cost-adequately.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="htab_2">
                    <a class="pane-header collapsed" data-target="#hpane_2" data-toggle="collapse" href="#hpane_2">Intelligent Automation</a>
                    <div class="collapse" id="hpane_2" data-parent="#hpanecontent">
                        <div class="pane-body row align-items-center">
                            <div class="col-2 img-section" style="">
                                <img class="image1" src="/static/static_images/Icon-bg.svg" alt="">
                                <img class="image2" style="width: 35% !important;" src="/static/static_images/cloud-connection-svgrepo-com.svg" alt="">
                               
                            </div>
                            <div class="col-10">
                                <p>All through your RPA (Robotic process automation) venture an accomplished group of engineers, business examiners and RPA trained professionals team up with you, to assist you with evolving start to finish RPA solutions. With your current apparatuses and cycles, we
                                    will look at key regions which are to be automated and examine and to establish a structured approach we utilize a novel procedure that will characterize your RPA guide and select suitable instruments for your methodical necessities and secure a consistent client
                                    experience that offers total help to you and your organization.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="htab_3">
                    <a class="pane-header collapsed" data-target="#hpane_3" data-toggle="collapse" href="#hpane_3">Internet of Things</a>
                    <div class="collapse" id="hpane_3" data-parent="#hpanecontent">
                        <div class="pane-body row align-items-center">
                             <div class="col-2 img-section" style="">
                                <img class="image1" src="/static/static_images/Icon-bg.svg" alt="">
                                <img class="image2" style="width: 35% !important;" src="/static/static_images/cloud-connection-svgrepo-com.svg" alt="">
                               
                            </div>
                            <div class="col-10">
                                <p>From picking the best stage for their IT scenes to determining experiences and giving functional help with assisting clients, Origin hub has been effectively conveying IoT methods. We empower our customers to meet the current business needs, develop efficiencies,
                                    increment incomes, and diminish IoT improvement costs, we are particularly situated to convey uncommon business esteem.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="htab_4">
                    <a class="pane-header collapsed" data-target="#hpane_4" data-toggle="collapse" href="#hpane_4">Cloud Solutions</a>
                    <div class="collapse" id="hpane_4" data-parent="#hpanecontent">
                        <div class="pane-body row align-items-center">
                             <div class="col-2 img-section" style="">
                                <img class="image1" src="/static/static_images/Icon-bg.svg" alt="">
                                <img class="image2" style="width: 35% !important;" src="/static/static_images/cloud-connection-svgrepo-com.svg" alt="">
                               
                            </div>
                            <div class="col-10">
                                <p>Best-of-breed cloud models to meet your business necessities. To make your strong digital transformation technique the revelation cycle begins by distinguishing your essential business objectives and business use-cases. To aid you in your digital transformation
                                    methodology, our specialists draw in with you in a revelation mode and can bring best-of-breed plans. Cloud suppliers and services, single or multi-cloud procedure, arrangement design assemble fast confirmations of an idea to scrutinize the high-level engineering.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
 
{% endblock %}
</body>

</html>	