<!doctype html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<html lang="en-US">

<head>
 
 <style>
 
 
 
  		.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
    position: absolute;
    top: 0px;
    left: 68px;
	
}

 
 
        .img-section {
            /* background-image: url("../content/images/Icon-bg.svg");
            background-repeat: no-repeat, repeat; */
            /* width: 250px;
            height: 250px; */
            position: relative;
            padding: 0 2rem !important;
            /* margin-right: 2rem !important; */
        }

        .img-section img {
            width: 100% !important;
            height: 100% !important;
        }

        .img-section svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #6c6c6c;
            width: 5rem;
        }
		
		
    </style>
</head>

<body>





    <section class="banner inner-banner" style="background-image: linear-gradient(135deg, #dfe9f3 10%, #ffffff 100%); padding:4rem 0;">
        <div class="container h-100">
            <div class="row no-gutters align-items-center h-100">
                <div class="banner-text">
                    <div class="banner-title" data-aos="fade-up" data-aos-duration="1000">
                        <h1 class="title underline relative d-inline">ERP - Enterprise Resource Planning</h1>
                    </div>

                    <p data-aos="fade-up" data-aos-delay="250" data-aos-duration="1200">Effortlessly operate your business now, with our ERP advancement services to experience end-to-end enterprise solutions entirely centred on your company success.</p>
                    <div class="action d-flex flex-wrap" data-aos="fade-up" data-aos-delay="350" data-aos-duration="1300">
                        <a href="/contact/" class="cta-btn cta-btn-blue d-inline-flex align-items-center justify-content-center">Quick Inquiry</a>
                    </div>
                </div>
                <div class="banner-img">
                    <div class="thumb">
                        <img width="960" height="894" src="/static/static_images/business.svg" /> </div>
                </div>
            </div>
        </div>
    </section>


    <section class="two-column-with-tag-module right">
        <div class="container">
            <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="title">Leverage ready-to-use solutions</h2>
                <div class="sub-title underline relative d-inline">Exploit ERP development service given by origin hub</div>
            </div>
            <div class="row no-gutters row-reverse">
                <!-- <div class="col-lg-6 right d-flex align-items-end justify-content-center" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1200">
                    <div class="thumb">
                        <img width="638" height="298" src="../../cdn.zymr.com/zymr-w8x/staging/wp-content/uploads/2021/04/23082256/Div-2-6-1.jpg" class="attachment-full size-full" alt="" loading="lazy"
                            srcset="https://cdn.zymr.com/zymr-w8x/staging/wp-content/uploads/2021/04/23082256/Div-2-6-1.jpg 638w, https://cdn.zymr.com/zymr-w8x/staging/wp-content/uploads/2021/04/23082256/Div-2-6-1-300x140.jpg 300w" sizes="(max-width: 638px) 100vw, 638px" /> </div>
                </div> -->
                <div class="col-lg-12 left module-cms" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                    <!-- <h3>With our full-stack designing strategies heighten the elements and functionalities of your site.</h3> -->
                    <p>Pick us as your ERP framework improvement organization, with our ERP execution, incorporation and customization appreciate top-notch administrations upheld by our broad expertise.</p>
                    <div class="tag-list d-flex flex-wrap">
                        <div class="item">Custom Development</div>
                        <div class="item">Expert Implementation</div>
                        <div class="item">Integration Services</div>
                        <div class="item">Technology Consulting</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="horizontal-tab-module">
        <div class="container">
            <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
                <div class="sub-title underline relative d-inline">Our Services</div>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#htab_1">Custom Development</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#htab_2">Expert Implementation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#htab_3">Integration Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#htab_4">Technology Consulting</a>
                </li>
            </ul>
            <div class="tab-content" id="hpanecontent">
                <div class="tab-pane active" id="htab_1">
                    <a class="pane-header collapsed" data-target="#hpane_1" data-toggle="collapse" href="#hpane_1">Custom Development</a>
                    <div class="collapse" id="hpane_1" data-parent="#hpanecontent">
                        <div class="pane-body row align-items-center">
                            <div class="col-2 img-section" style="">
                                <img class="image1" src="/static/static_images/Icon-bg.svg" alt="">
                                <img class="image2" style="width: 35% !important;" src="/static/static_images/cloud-connection-svgrepo-com.svg" alt="">
                               
                            </div>
                            <div class="col-10">
                                <p>To give an exceptional client experience our UI/UX associations know precisely how to fabricate your solutions in a manner. We alter off-the-rack ERP arrangements via computerizing work processes, integrating data and more to make the ideal ERP solution. Exploit
                                    our skill and partake in the accommodation of having an ERP framework worked by the best plan rehearses.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="htab_2">
                    <a class="pane-header collapsed" data-target="#hpane_2" data-toggle="collapse" href="#hpane_2">Expert Implementation</a>
                    <div class="collapse" id="hpane_2" data-parent="#hpanecontent">
                        <div class="pane-body row align-items-center">
                            <div class="col-2 img-section" style="">
                                <img class="image1" src="/static/static_images/Icon-bg.svg" alt="">
                                <img class="image2" style="width: 35% !important;" src="/static/static_images/cloud-connection-svgrepo-com.svg" alt="">
                               
                            </div>
                            <div class="col-10">
                                <p>ERP is a device intended to open your business potential, with data integrity and zero downtime through your whole association deploy and configure your custom networks, servers, security, and data management, our mastery in ERP implementation additionally opens up
                                    space for customizations of your current arrangements, as well as building definitively designated at your business needs solutions</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="htab_3">
                    <a class="pane-header collapsed" data-target="#hpane_3" data-toggle="collapse" href="#hpane_3">Integration Services</a>
                    <div class="collapse" id="hpane_3" data-parent="#hpanecontent">
                        <div class="pane-body row align-items-center">
                            <div class="col-2 img-section" style="">
                                <img class="image1" src="/static/static_images/Icon-bg.svg" alt="">
                                <img class="image2" style="width: 35% !important;" src="/static/static_images/cloud-connection-svgrepo-com.svg" alt="">
                               
                            </div>
                            <div class="col-10">
                                <p>To guarantee zero business work process interference and streamline client assistance, influence prepared-to-utilize arrangements and interface them with ERPs or other endeavour frameworks. We give integration services that permit upgrading your framework with
                                    significant capacities and highlights presented by outsider stages, Realizing how significant it is for our customers to have everything in hand. For better business results, we can connect all the frameworks utilized in your organization to secure their coherent
                                    enterprise.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="htab_4">
                    <a class="pane-header collapsed" data-target="#hpane_4" data-toggle="collapse" href="#hpane_3">Technology Consulting</a>
                    <div class="collapse" id="hpane_4" data-parent="#hpanecontent">
                        <div class="pane-body row align-items-center">
                            <div class="col-2 img-section" style="">
                                <img class="image1" src="/static/static_images/Icon-bg.svg" alt="">
                                <img class="image2" style="width: 35% !important;" src="/static/static_images/cloud-connection-svgrepo-com.svg" alt="">
                               
                            </div>
                            <div class="col-10">
                                <p>We prevail with regards to implementing ERP arrangements by utilizing best practices, our execution strategy, working with productive execution and a design to procure a positive result from your speculation. In the event that you don't know what might be the best
                                    innovation pick or you as of now have one, however, need a few changes, our experts will furnish you with an exhaustive ERP consultation.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	

{% endblock %}	
</body>

</html>