<!doctype html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<html lang="en-US">

<head>
 
 <style>
 
 
 
  		.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
    position: absolute;
    top: 0px;
    left: 68px;
	
}

 
 
        .img-section {
            /* background-image: url("../content/images/Icon-bg.svg");
            background-repeat: no-repeat, repeat; */
            /* width: 250px;
            height: 250px; */
            position: relative;
            padding: 0 2rem !important;
            /* margin-right: 2rem !important; */
        }

        .img-section img {
            width: 100% !important;
            height: 100% !important;
        }

        .img-section svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #6c6c6c;
            width: 5rem;
        }
		
		
    </style>
</head>

<body>
     <section class="banner inner-banner" style="background-image: linear-gradient(135deg, #dfe9f3 10%, #ffffff 100%); padding:4rem 0;">
        <div class="container h-100">
            <div class="row no-gutters align-items-center h-100">
                <div class="banner-text">
                    <div class="banner-title" data-aos="fade-up" data-aos-duration="1000">
                        <h1 class="title underline relative d-inline">Health Tech</h1>
                    </div>

                    <p data-aos="fade-up" data-aos-delay="250" data-aos-duration="1200">Experience true innovation medical care information framework, program aptitude and limit interoperability issues to our patrons.
                    </p>
                    <div class="action d-flex flex-wrap" data-aos="fade-up" data-aos-delay="350" data-aos-duration="1300">
                        <a href="/contact/" class="cta-btn cta-btn-blue d-inline-flex align-items-center justify-content-center">Quick Inquiry</a>
                    </div>
                </div>
                <div class="banner-img">
                    <div class="thumb">
                        <img width="960" height="894" src="/static/static_images/healthcare.svg" /> </div>
                </div>
            </div>
        </div>
    </section>


    <section class="two-column-with-tag-module right">
        <div class="container">
            <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="title">The HealthTech Era</h2>
                <div class="sub-title underline relative d-inline">With our HealthTech arrangements endure exceptional information portability and empower community patient supervision</div>

            </div>
            <div class="row no-gutters row-reverse">
                <div class="col-lg-12 left module-cms" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                    <h3>We enable medical care establishments to convey the most ideal patient consideration, full-stack cloud-prepared arrangements that address association-wide necessities and detailing needs.
                    </h3>
                </div>
            </div>
        </div>
    </section>

    <section class="vertical-cards">
        <div class="container">
            <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
                <div class="sub-title underline relative d-inline">Our Expertise</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 items mb-8" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1200" style="text-align:center">
					<img src="/static/static_images/smartphone-healthcare-and-medical-svgrepo-com.svg" style="width: 20%" />
                    <div class="service-design">
                        <div class="">
                            <div class="card-title title-pattern">Healthcare Applications</div>
                            <p>We adjust and open prescribed procedures to deal with your clients so they can give better consideration. Experience from many fruitful customers health tech application support services gives industry-driven assistance and upkeep at a reliable fixed expense. Our
                                groups rejuvenate your application created with an MVP. We ensure that the application is secure, adaptable, and lay more noteworthy accentuation on highlights like following, booking, pop-up messages and updates, mix with wearable, and telemedicine choices. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 items mb-8" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1300" style="text-align:center" >
					<img src="/static/static_images/mentality-analyst-health-medical-diagnosis-psychological-check-up-svgrepo-com.svg" style="width: 20%" />
                    <div class="service-design">
                        <div class="">
                            <div class="card-title title-pattern">Electronic Health Record Integration</div>
                            <p>The service coordination answer for Mozzaz was fabricated utilizing micro services design and HL7/FHIR-HL7 consistent standards-based snaps. The centre frameworks of their cloud developed autonomously from their administration organization arrangement as these were
                                approximately combined. Pre-testing of root EHR snap empowered smoother and quicker customer explicit EHR reconciliations. Our group made a Workflow administration with UI and backend benefits and made it simple to utilize an intuitive work process originator.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 items mb-8" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1400" style="text-align:center">
					<img src="/static/static_images/heart-beat-svgrepo-com.svg" style="width: 20%" />
                    <div class="service-design">
                        <div class="">
                            <div class="card-title title-pattern">HeathTech Program</div>
                            <p>From high-sway medical services vital counselling to functional transformation, administrative consistency, and client experience, we have you covered. Our team influences the state of the art innovations like artificial intelligence, cloud computing, IoT with the
                                modern tech stack to grant you top range designs in the cutting edge advanced world. Through planning, Strategy, Execution and Monitor, We assist our automated health tech customers to convey successful and proficient administrations.

                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 items mb-8" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1500" style="text-align:center">
					<img src="/static/static_images/artificial-intelligence-brain-svgrepo-com.svg" style="width: 20%" />
                    <div class="service-design">
                        <div class="">
                            <div class="card-title title-pattern">Artificial intelligence-driven robots</div>
                            <p>The right to utilize innovation that is driven by clinical work processes and supports their capacity to convey more secure, successful consideration. We endure, to develop clinical consideration the correct way, you should do it directly by your clinicians, we foster
                                a brilliant wellbeing collaborator that can give cautions and updates, make you stay with the clinical system, count calories and dietary benefit in food, pass on your continuous medical services information to your guardians, permit video calls to the guardian and
                                family members, re-request the meds all alone, store prescriptions securely, as your health buddy guarantee data security.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>



{% endblock %}	
</body>

</html>