<!doctype html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<html lang="en-US">

<head>
 
 <style>
 
 
 
  		.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
    position: absolute;
    top: 0px;
    left: 68px;
	
}

 
 
        .img-section {
            /* background-image: url("../content/images/Icon-bg.svg");
            background-repeat: no-repeat, repeat; */
            /* width: 250px;
            height: 250px; */
            position: relative;
            padding: 0 2rem !important;
            /* margin-right: 2rem !important; */
        }

        .img-section img {
            width: 100% !important;
            height: 100% !important;
        }

        .img-section svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #6c6c6c;
            width: 5rem;
        }
		
		
    </style>
</head>

<body>

    <section class="banner inner-banner" style="background-image: linear-gradient(135deg, #dfe9f3 10%, #ffffff 100%); padding:4rem 0;">
        <div class="container h-100">
            <div class="row no-gutters align-items-center h-100">
                <div class="banner-text">
                    <div class="banner-title" data-aos="fade-up" data-aos-duration="1000">
                        <h1 class="title underline relative d-inline">Health Tech</h1>

                    </div>

                    <p data-aos="fade-up" data-aos-delay="250" data-aos-duration="1200">We are specialists in healthcare innovation with us you can perceive how your organization can thrive from creative HealthTech developments.
                    </p>
                    <div class="action d-flex flex-wrap" data-aos="fade-up" data-aos-delay="350" data-aos-duration="1300">
                        <a href="/contact/" class="cta-btn cta-btn-blue d-inline-flex align-items-center justify-content-center">Quick Inquiry</a>
                    </div>
                </div>
                <div class="banner-img">
                    <div class="thumb">
                        <img width="960" height="894"  src="/static/static_images/digital-transformation.svg" /> </div>
                </div>
            </div>
        </div>
    </section>


    <section class="two-column-with-tag-module right">
        <div class="container">
            <div class="section-title" data-aos="fade-up" data-aos-duration="1000">

                <div class="sub-title underline relative d-inline">INNOVATIVE WELLNESS SOLUTIONS IN HEALTHCARE</div>

            </div>
            <div class="row no-gutters row-reverse">
                <div class="col-lg-12 left module-cms" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                    <h3>An environment of utilization and online assets brings clients experience to an unheard-of level.

                    </h3>
                    <p>We create our frameworks with patients protection, security, and the trustworthiness of their well-being information. Our specialists use a historic innovation stack, consistently adjusted to the customer's specific business objectives and advancement needs.
                    </p>
                    <div class="tag-list d-flex flex-wrap">
                        <div class="item">Application consulting</div>
                        <div class="item">QA and testing</div>
                        <div class="item">Healthtech Secure Solutions</div>
                        <div class="item">Cutting-edge technologies</div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="vertical-cards">
        <div class="container">
            <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
                <div class="sub-title underline relative d-inline">Our Expertise</div>
            </div>
            <div class="row justify-content-center">
                <div class="col-md-6 col-lg-4 items mb-8" data-aos="fade-up" data-aos-delay="100" data-aos-duration="1200">
                    <div class="service-design">
                        <div class="">
                            <div class="card-title title-pattern">Application consulting</div>
                            <p>We are not targeting offering superfluous and costly arrangements, instead, we furnish you with precisely those that will work for your specific circumstance in the most ideal manner. Our experts will counsel you on the arrangement entirely through, covering each and
                                every detail that can add to your business development and achievement to convey healthcare services applications to our customers. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 items mb-8" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1300">
                    <div class="service-design">
                        <div class="">
                            <div class="card-title title-pattern">QA and testing</div>
                            <p>The versatile applications, programming, and web applications with our first-rate incorporated QA and testing arrangements enhance the overall usability and impression to guarantee the smooth, precise, hazard-free, and secure execution of the design managing delicate
                                patient information, and before the dispatch, we apply the best testing practices to fix everything.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 items mb-8" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1400">
                    <div class="service-design">
                        <div class="">
                            <div class="card-title title-pattern">Healthtech Secure Solutions</div>
                            <p>Online protection has become perhaps the most prominent matter in the social network promoting period. In healthtech projects, we put a ton of emphasis on client protection and information security. We apply demonstrated safety efforts and exhaustive quality
                                affirmation methods to ensure all touchy data stays safe. With the most elevated security guidelines, we convey top-performing and completely adaptable programming arrangements utilizing moving information security advancements and standards.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 items mb-8" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1500">
                    <div class="service-design">
                        <div class="">
                            <div class="card-title title-pattern">Cutting-edge technologies</div>
                            <p>Our experts have impeccable information and long periods of modern experience like programming, critical thinking, and exactness abilities. We pursue the most recent innovative directions and are not reluctant to exceed everyone's expectations to accomplish better
                                outcomes. You can entrust us with picking the most reliable tech stack for your healthtech project.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
	
	
{% endblock %}	
</body>

</html>