<!doctype html>
{% extends 'navbar.html' %}
{% load static %}
{% block content %}
<html lang="en-US">

<head>
 
 <style>
 
 
 
  		.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.image2 {
    position: absolute;
    top: 0px;
    left: 68px;
	
}

 
 
        .img-section {
            /* background-image: url("../content/images/Icon-bg.svg");
            background-repeat: no-repeat, repeat; */
            /* width: 250px;
            height: 250px; */
            position: relative;
            padding: 0 2rem !important;
            /* margin-right: 2rem !important; */
        }

        .img-section img {
            width: 100% !important;
            height: 100% !important;
        }

        .img-section svg {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            color: #6c6c6c;
            width: 5rem;
        }
		
		
    </style>
</head>

<body>

    <section class="banner inner-banner" style="background-image: linear-gradient(135deg, #dfe9f3 10%, #ffffff 100%); padding:4rem 0;">
        <div class="container h-100">
            <div class="row no-gutters align-items-center h-100">
                <div class="banner-text">
                    <div class="banner-title" data-aos="fade-up" data-aos-duration="1000">
                        <h1 class="title underline relative d-inline">User Experience(UX) Services</h1>
                        
                    </div>

                    <p data-aos="fade-up" data-aos-delay="250" data-aos-duration="1200">Design things with an inconceivable look, Generate connections. Intensify commitment. and render a visually intriguing and User-Friendly experience to the end clients.</p>
                    <div class="action d-flex flex-wrap" data-aos="fade-up" data-aos-delay="350" data-aos-duration="1300">
                        <a href="/contact/" class="cta-btn cta-btn-blue d-inline-flex align-items-center justify-content-center">Quick Inquiry</a>
                    </div>
                </div>
                <div class="banner-img">
                    <div class="thumb">
                        <img width="960" height="894" src="/static/static_images/ux.svg" /> </div>
                </div>
            </div>
        </div>
    </section>

    <section class="two-column-with-tag-module right">
        <div class="container">
            <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
                <h2 class="title">Design-driven innovators</h2>
                <div class="sub-title underline relative d-inline">Create Significant Judgments</div>
            </div>
            <div class="row no-gutters row-reverse">
                <!-- <div class="col-lg-6 right d-flex align-items-end justify-content-center" data-aos="fade-up" data-aos-delay="300" data-aos-duration="1200">
                    <div class="thumb">
                        <img width="638" height="298" src="../../cdn.zymr.com/zymr-w8x/staging/wp-content/uploads/2021/04/23082256/Div-2-6-1.jpg" class="attachment-full size-full" alt="" loading="lazy"
                            srcset="https://cdn.zymr.com/zymr-w8x/staging/wp-content/uploads/2021/04/23082256/Div-2-6-1.jpg 638w, https://cdn.zymr.com/zymr-w8x/staging/wp-content/uploads/2021/04/23082256/Div-2-6-1-300x140.jpg 300w" sizes="(max-width: 638px) 100vw, 638px" /> </div>
                </div> -->
                <div class="col-lg-12 left module-cms" data-aos="fade-up" data-aos-delay="200" data-aos-duration="1000">
                    <h3>Make convincing automated media existences, client dependability and developing brand esteem with exquisite, instinctive, and vital UX designs.</h3>
                    <p>Our plan drove designing methodology and extensive data engineering to offer entrancing encounters to your clients. Improve and upgrade the association between our customers' objectives and their advanced presence.</p>
                    <div class="tag-list d-flex flex-wrap">
                        <div class="item">UX/UI Design</div>
                        <div class="item">UX Research Strategy</div>
                        <div class="item">UX Design Audit</div>
                        <div class="item">Customer Journey Mapping</div>
                    </div>
                </div>
            </div>
        </div>
    </section>


    <section class="horizontal-tab-module">
        <div class="container">
            <div class="section-title" data-aos="fade-up" data-aos-duration="1000">
                <div class="sub-title underline relative d-inline">Our UX/UI Services</div>
            </div>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-toggle="tab" href="#htab_1">UX/UI Design</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#htab_2"> UX Research Strategy</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#htab_3">
                        UX Design Audit
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " data-toggle="tab" href="#htab_4">Customer Journey Mapping</a>
                </li>
            </ul>
            <div class="tab-content" id="hpanecontent">
                <div class="tab-pane active" id="htab_1">
                    <a class="pane-header collapsed" data-target="#hpane_1" data-toggle="collapse" href="#hpane_1">UX/UI Design</a>
                    <div class="collapse" id="hpane_1" data-parent="#hpanecontent">
                        <div class="pane-body row align-items-center">
                            <div class="col-2 img-section" style="">
                                <img class="image1" src="/static/static_images/Icon-bg.svg" alt="">
                                <img class="image2" style="width: 35% !important;" src="/static/static_images/cloud-connection-svgrepo-com.svg" alt="">
                               
                            </div>
                            <div class="col-10">
                                <p>Furnish a magnificent perusing experience with our UX design services. Plan application architecture with an advantageous UI and fuse elements of end-user communication with the application in future. To understand your UX objectives, the visual components can
                                    assist you with our investigation of users' conduct and framework elements and convert your UX and UI thoughts into a completely utilitarian plan.</p>
                                <ul>
                                    <li>Persona, use-cases and Domain</li>
                                    <li>Wire frames and High-fidelity Prototype</li>
                                    <li>Mobile and Web UI Design</li>
                                    <li>Information Architecture and Ontology</li>
                                    <li>Progressed UX devices</li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="htab_2">
                    <a class="pane-header collapsed" data-target="#hpane_2" data-toggle="collapse" href="#hpane_2">UX Research Strategy</a>
                    <div class="collapse" id="hpane_2" data-parent="#hpanecontent">
                        <div class="pane-body row align-items-center">
                            <div class="col-2 img-section" style="">
                                <img class="image1" src="/static/static_images/Icon-bg.svg" alt="">
                                <img class="image2" style="width: 35% !important;" src="/static/static_images/cloud-connection-svgrepo-com.svg" alt="">
                               
                            </div>
                            <div class="col-10">
                                <p>To assist you with tracking down the right arrangements and designs, our UX research adopts distinct strategies that live up to your client's desires, it's the method that involves investigating, analyzing, testing, and approving distinctive business insights. To
                                    settle on expert and effective business choices, UX analysis and testing strategies accumulate significant information and contributions from your users. Our UI/UX configuration group monitors and examines customer reactions to uncover genuine freedoms for your
                                    business, we can realize where your clients get disappointed, befuddled, or need consolation through client research and testing.</p>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="htab_3">
                    <a class="pane-header collapsed" data-target="#hpane_3" data-toggle="collapse" href="#hpane_3">UX Design Audit </a>
                    <div class="collapse" id="hpane_3" data-parent="#hpanecontent">
                        <div class="pane-body row align-items-center">
                            <div class="col-2 img-section" style="">
                                <img class="image1" src="/static/static_images/Icon-bg.svg" alt="">
                                <img class="image2" style="width: 35% !important;" src="/static/static_images/cloud-connection-svgrepo-com.svg" alt="">
                               
                            </div>
                            <div class="col-10">
                                <p>UX Audit gives a fair and target perspective on the site/application's qualities and renders a significant design inclination. To see how individuals associate with it we lead a comprehensive usage estimate of your product UI, you can further develop your stock
                                    business execution by handling core convenience issues. The motivation behind a further developed user experience audit is to gauge parts of your client experience against industry best practices dependent on client designs. Our crew will assist you with
                                    exploiting the general capability of UX sponsored and further, develop your product, site and application execution as per traditional UX standards or Web Content Accessibility Guidelines (WCAG).</p>
                                <ul>
                                    <li>Agile UI/UX usability</li>
                                    <li>ADA/WCAG accessibility</li>
                                    <li>Multi-program testing</li>
                                    <li>Test automation</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane " id="htab_4">
                    <a class="pane-header collapsed" data-target="#hpane_4" data-toggle="collapse" href="#hpane_4">Customer Journey Mapping</a>
                    <div class="collapse" id="hpane_4" data-parent="#hpanecontent">
                        <div class="pane-body row align-items-center">
                            <div class="col-2 img-section" style="">
                                <img class="image1" src="/static/static_images/Icon-bg.svg" alt="">
                                <img class="image2" style="width: 35% !important;" src="/static/static_images/cloud-connection-svgrepo-com.svg" alt="">
                               
                            </div>
                            <div class="col-10">
                                <p>The journey of client experience from before interfacing, to during the connection, to after associating with your item is through the assistance of assembling and reflecting our customer journey mapping. Gathering prerequisites is time-consuming when managed by an
                                    owner, manager or analyst but we make it relaxed for you with a one-day settlement with all your stakeholders assembling to conceptualize in an organized manner. To improve it for the ideal outcomes, and distinguish the outpoints to depict clients' objectives and
                                    assumptions, conceive your end-user connections at all aspects of their journey to organize the best insight.
                                </p>
                                <ul>
                                    <li>Persona-explicit journey map</li>
                                    <li>Intuitive prototyping</li>
                                    <li>Design frameworks and visual design</li>
                                    <li>Wire frames and micro-interaction</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> 
    <section class="content-with-listing-module">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title" data-aos="fade-up" data-aos-delay="400" data-aos-duration="1000" style="margin-bottom:0px !important;">
                    <h2 class="title">WHY US</h2>
                    <div class="sub-title underline relative d-inline">Let's Work<span> Together</span></div>
                </div>
            </div>
            <div class="col-lg-12 pa-2" style="padding-top:2rem;">
                <div class="description" data-aos="fade-up" data-aos-delay="450" data-aos-duration="1400">
                    <p>Originhubs is your vital associate in speeding up your design by utilizing state of the art technology, we trust in resolving complex business difficulties with genuine ability and customer-eccentric.</p>
                </div>
            </div>
        </div>
        <div class="icon-listing module-cms">
            <div class="row">
                <div class="col-sm-6 items" data-aos="fade-up" data-aos-delay="350" data-aos-duration="1400">
                    <div class="d-flex flex-wrap align-items-start justify-content-between" style="padding:1rem; background-image: linear-gradient(180deg, #dfe9f3 10%, #ffffff 100%);">
                        <div class="icon-wrap d-flex align-items-center justify-content-center p-2">
                            <img src="/static/static_images/innovation-svgrepo-com.svg" class="attachment-full size-full" alt="" loading="lazy">
                            
                            
                        </div>
                        <div class="description">
                            <div class="wrap">
                                <h2>Innovative Mindset</h2>
                                <p>To remain at the front line in this evolving innovative world we assist you to create a data and analytics strategy, with our top tier advanced technologies to create applications, coordinate with different dialects, and modernize the unbending inheritance
                                    frameworks</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 items" data-aos="fade-up" data-aos-delay="350" data-aos-duration="1400">
                    <div class="d-flex flex-wrap align-items-start justify-content-between" style="padding:1rem; background-image: linear-gradient(180deg, #dfe9f3 10%, #ffffff 100%);">
                        <div class="icon-wrap d-flex align-items-center justify-content-center p-2">
                            <img src="/static/static_images/give-star-svgrepo-com.svg" class="attachment-full size-full" alt="" loading="lazy">
                            
                        </div>
                        <div class="description">
                            <div class="wrap">
                                <h2>Outcome-driven</h2>
                                <p>Our methodology comprises state of the art avenues that can assemble secure verification of-idea to scrutinize the high-level engineering and assist you with accomplishing transform objectives. With our AI-controlled applications, We coordinate the most advanced
                                    up-to-date instruments, approaches and apply our ability to give remarkable program arrangements.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 items" data-aos="fade-up" data-aos-delay="350" data-aos-duration="1400">
                    <div class="d-flex flex-wrap align-items-start justify-content-between" style="padding:1rem; background-image: linear-gradient(180deg, #dfe9f3 10%, #ffffff 100%);">
                        <div class="icon-wrap d-flex align-items-center justify-content-center p-2">
                            <img src="/static/static_images/chip-microchip-svgrepo-com.svg" class="attachment-full size-full" alt="" loading="lazy">
                            
                        </div>
                        <div class="description">
                            <div class="wrap">
                                <h2>High-tech insight</h2>
                                <p>Accelerate your journeys with our demonstrated methodology, profoundly advanced acumen, and automated exposure. Our affirmed experts have top to bottom information across different technologies and frameworks. Fast-track your digital transformation range and
                                    deliver enriching experiences.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 items" data-aos="fade-up" data-aos-delay="350" data-aos-duration="1400">
                    <div class="d-flex flex-wrap align-items-start justify-content-between" style="padding:1rem; background-image: linear-gradient(180deg, #dfe9f3 10%, #ffffff 100%);">
                        <div class="icon-wrap d-flex align-items-center justify-content-center p-2">
                            <img src="/static/static_images/software-platform-computer-software-system-svgrepo-com.svg" class="attachment-full size-full" alt="" loading="lazy">
                        </div>
                        <div class="description">
                            <div class="wrap">
                                <h2>Cutting-edge solutions</h2>
                                <p>Experience our digital drive solutions to unlock transformation perks. We concentrate on solutions that assist us with pushing your dynamic necessities. Our innovation and program architecture arrangements can be associated with different frameworks that guarantee
                                    investigation, reporting and data stream. To check and approve benefits rigorously in consistency with guidelines and best practices, we have a vigorous ideation team of proactive specialists.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section> 
{% endblock %}	
</body>

</html>